.button {
  color: #ffffff;
  min-width: 115px;
  padding: 15px 25px;
  font-size: 15px;
  border: none;
  border-radius: 5px;

  &:hover {
    background: #ffffff !important;
    color: #191A19;
  }
}


.addToCart, .deleteFromCart {
  padding: 10px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.addToCart {

  &:hover {
    background: #A6CE39 !important;
    color: #ffffff;
  }
}

.deleteFromCart {
  background: #191A19 !important;
  &:hover {
    background: #D21312 !important;
    color: #ffffff;
  }
}